# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Notebooks Jupyter
.ipynb_checkpoints/
# Scripts Python extraits des notebooks
src/01_data_wrangling.py
src/02_eda_visualisation.py
src/03_modelisation_pred.py
src/04_vision_cnn_tf.py

# Journaux d'exécution des notebooks
logs/*.log


# Environnements Virtuels
venv/
.venv/
env/
.env/

# Données (ignorer les gros fichiers sauf notre dataset d'exemple brut)
data/raw/*
!data/raw/raw_data_sample.csv
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Quarto & Rendu
.quarto/
*_files/
*_cache/

# Fichiers OS
.DS_Store
Thumbs.db

*.pdf
*.html
# Données brutes et fichiers lourds du projet HAR
data/raw/uci_har_dataset.zip
data/raw/UCI HAR Dataset.zip
data/raw/UCI HAR Dataset/
data/raw/UCI HAR Dataset.names

# Données préparées générées automatiquement
data/processed/har_train.csv
data/processed/har_test.csv
data/processed/har_full.csv
data/processed/har_signals_train.npz
data/processed/har_signals_test.npz
data/processed/activity_labels.csv
data/processed/features.csv
